body {
    background: #f5f5f5;
}

.container,
footer
{
    position: relative;
    background: #fff;
}

.container {
    padding: 30px 0 30px 0; 
}
	aside.col.col-lg-3 {
		text-align: center;
		position: static;
	}

	#main {
		position: relative;
	}

footer {
    margin-top: 5px;
}	
  header {
/*      padding: 41px 0 40px 0;*/
      margin: 40px 0 40px 40px;
      width: 180px;
      -webkit-border-radius: 90px;
      -moz-border-radius: 100px;
      border-radius: 90px;
      text-align: center;
      background: #fff;
  }
    header h1 {
      text-align: left;
      left: 40px;
      margin: 0;
      padding: 9px 9px 0 9px;
      top: 323px;
      background: #3b59f2;
      position: absolute;
    }

    @media screen and (max-width: 1204px) {
        nav {
            display: none;
        }
        .col-lg-3 {
          width: 10%;
        }
/*        .col col-lg-9 {
          width: 90%;
        }*/
        max-width: 778px;
    }
  nav {
    margin: 0 auto;
    width: 200px;
  }

	nav.affix {
		top: 0;
	}
	nav.affix-bottom {
		position: absolute;
		bottom: 0;
	}

  .back-to-top {
    display: block;

    float: left;
    padding: 7px 15px;
    font-weight: 500;
    color: #999;
    background-color: #eee;
    border-radius: 4px;
  }


  .back-to-top.affix {
    position: fixed;
    z-index: 200;
    right:  15px;
    bottom: 15px;
  }  
  .back-to-top.affix-top {
    color: #ffffff;
    background-color: #ffffff;
    padding: 0;
    height:0;
  }

  .back-to-top:hover {
    color: #fff;
    text-decoration: none;
    background-color: #999;
  }
#main .col-lg-10 {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-top: 1px dotted #777;
}
#main h3 {
  margin-bottom: 30px;
}

#main h2, #main h3 {
  margin-left: -15px;
} 
#main .col {
  margin-left: -30px;
  margin-bottom: 40px;
}
#main .col.caption {
  margin-bottom: 10px;
}
.nav > li > a {
  padding: 9px 0;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.flash {
  background: url(../img/flash.jpg);
  margin: -30px 0 40px 0;
  height: 350px;
}
aside {
  padding-top: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

.solutions {
    margin: 0 auto; 
    padding: 10px; 
    padding-top: 20px;
}

.ScreenS {
    max-width: 80%;
    height: auto;
}

hr {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    height: 6px;
    margin-left: -30px;
  }

.odd hr {
  background: #82d120;
}
.even hr {
  background: #3b59f2;
}
.red hr {
  background: #ff0022;
}

.Statement {
  max-width: 300;
  max-height: 250;
}

.TxtSolutions {
  font-size:16px;
}