
.idea/workspace.xml
.idea/vcs.xml
.idea/savchenko-physics.github.io.iml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
src/database/translated_text.txt
src/database/russian.txt
src/__pycache__/parents.cpython-312.pyc
src/ru/__pycache__/parents.cpython-312.pyc
src/__pycache__/sitemap.cpython-312.pyc
src/path.py
